{% extends "page.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ section.title }}</h1>
  <span class="post-date">{{ section.extra.date | date(format="%Y-%m-%d") }}</span>
  {{ section.content | safe }}
</div>
{% endblock content %}

